<h2>Lawn Specialists</h2>
<br>

<div class="button-container">
    <%= button_to "All landscapers", landscapers_path, method: :get, class: "button" %>

    <%= form_for :landscaper, controller: "landscapers_controller", url: landscapers_sort_path, action: :post, html: {class: "button"} do |f| %>
            <%= f.submit "Sort A-Z" %>
    <% end %>

    <%= form_for :landscaper, controller: "landscapers_controller", url: landscapers_sort_path, action: :post, html: {class: "button"} do |f| %>
            <%= f.submit "Sort Z-A" %>
    <% end %><br>
</div>

    <h4>Filter by available services</h4>
    <%= form_for :landscaper, controller: "landscapers_controller", url: landscapers_service_path, action: :post do |f| %>
        <%= f.collection_select(:service_ids, Service.all.sort_by{|s| s.description}, :id, :description) %>
        <%= f.submit "Filter" %>
    <% end %><br>
    
<div class="grid-container">
    <% @landscapers.each do |landscaper| %>
        <div class="grid-item">
            <h4><%= landscaper.business_name %></h4>
            <% if landscaper.owner_name %>
                <p><strong>Owner name: </strong><%= landscaper.owner_name %></p>
            <% end %>
            <p><strong>Zip Code: </strong><%= landscaper.zip_code %></p>
            <% if landscaper.description %>
                <p><strong>Description: </strong><%= landscaper.description %></p>
            <% end %>
            <strong><%= "Services: " unless landscaper.services.empty? %></strong>
                <ul> <% landscaper.services.each do |service| %>
                    <li><%= service.description %></p></li>
                <% end %>
                </ul>
            <%= mail_to(landscaper.email, "Request an Appointment", subject: "Landscaper Pro Appointment Request", body: "Dear #{landscaper.business_name}, \n\nLandscaper Pro recommended you for my lawn care needs. \n\nYou can log in at Landscaper Pro (https://landscaping-pro.herokuapp.com/) and select 'Create Appointment' to create an appointment with me.") %>
        </div>
    <% end %>
</div>