<h2>Lawn Specialists</h2>

<ul>
    <% @landscapers.each do |landscaper| %>
        <li>
            <%= link_to landscaper.business_name, landscaper_path(landscaper) %><br>
            Zip Code: <%= landscaper.zip_code %><br>
            Description: <%= landscaper.description %><br>
            <%# Services: <% landscaper.tasks.each do |task| %>
                <%# <%= task.description %>
            <%# <% end %>
            <%= mail_to(landscaper.email, "Request an Appointment", subject: "Landscaper Pro Appointment Request", body: "Dear #{landscaper.business_name}, \n\nLandscaper Pro recommended you for my lawn care needs. \n\nYou can log in at Landscaper Pro (#{root_url}) to create an appointment with me.") %>
        </li><br>
    <% end %>
</ul>