<h3>Profile:</h3>

<p><strong>Business name:</strong> <%= @landscaper.business_name %></p>
<p><strong>Owner name:</strong> <%= @landscaper.owner_name %></p>
<p><strong>Description:</strong> <%= @landscaper.description %></p>
<p><strong>Zip Code:</strong> <%= @landscaper.zip_code %></p>
<p><strong>Email:</strong> <%= @landscaper.email %></p>