<h3>Appointments</h3>

<p><% "You have no scheduled appointments" if @appointments == [] || @appointments.nil? %></p>

<%= month_calendar events: @appointments do |date, appointments| %>
  <%= date.day %>

  <% appointments.each do |appointment| %>
    <div>
      <strong><%= appointment.datetime.strftime("%l:%M %p") %></strong><br>
      <%= link_to(appointment.user.full_name, landscaper_appointment_path(current_landscaper, appointment), :title => "Click for more details") if landscaper_signed_in? %>
      <%= link_to(appointment.landscaper.business_name, user_appointment_path(current_user, appointment), :title => "Click for more details") if user_signed_in? %>
    </div>
  <% end %>
<% end %>