<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>LandscapingPro</title>

    <!-- Bootstrap core CSS -->
    <link href="https://blackrockdigital.github.io/startbootstrap-scrolling-nav/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/assets/stylesheets/scrolling-nav.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    
  </head>

  <body id="page-top">
  
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href=<%= root_url %>>Landscaping Pro</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <% if !user_signed_in? && !landscaper_signed_in? %>
              <li class="nav-item">
                <%= link_to "Sign Up", new_user_registration_path, class: "nav-link js-scroll-trigger" %>
              </li>
              <li class="nav-item">
                <%= link_to "Sign In", new_user_session_path, class: "nav-link js-scroll-trigger" %>
              </li>
              <li class="nav-item">
                <%= link_to "Join as a pro", new_landscaper_registration_path, class: "nav-link js-scroll-trigger" %>
              </li>
            <% end %>
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to "Find Lawn Specialist", landscapers_path, class: "nav-link js-scroll-trigger" %>
              </li>
              <li class="nav-item">
                <%= link_to "Appointments", appointments_path, class: "nav-link js-scroll-trigger" %>
              </li>
              <li class="nav-item">
                <%= link_to "View Profile", user_path(current_user), class: "nav-link js-scroll-trigger" %>
              </li>
              <li class="nav-item">
                <%= link_to "Edit Profile", edit_user_registration_path, class: "nav-link js-scroll-trigger" %>
              </li>
              <li class="nav-item">
                <%= link_to "Sign Out", destroy_user_session_path, :method => :delete, class: "nav-link js-scroll-trigger" %>
              </li>
            <% elsif landscaper_signed_in? %>
              <li class="nav-item">
                <%= link_to "View Lawn Specialists", landscapers_path, class: "nav-link js-scroll-trigger" %>
              </li>
              <li class="nav-item">
                <%= link_to "Create Appointment", new_appointment_path, class: "nav-link js-scroll-trigger" %>
              </li>
              <li class="nav-item">
                <%= link_to "Appointments", appointments_path, class: "nav-link js-scroll-trigger" %>
              </li>
              <li class="nav-item">
                <%= link_to "Edit Profile", edit_landscaper_registration_path, class: "nav-link js-scroll-trigger" %>
              </li>
              <li class="nav-item">
                <%= link_to "Sign Out", destroy_landscaper_session_path, :method => :delete, class: "nav-link js-scroll-trigger" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <div class="main-content">

      <% if notice %>
        <p class="notice"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert"><%= alert %></p>
      <% end %>

      <%= yield %>

    </div>
    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; LandscapingPro 2019</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="https://blackrockdigital.github.io/startbootstrap-scrolling-nav/vendor/jquery/jquery.min.js"></script>
    <script src="https://blackrockdigital.github.io/startbootstrap-scrolling-nav/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://blackrockdigital.github.io/startbootstrap-scrolling-nav/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="https://blackrockdigital.github.io/startbootstrap-scrolling-nav/js/scrolling-nav.js"></script>

  </body>
</html>
