<h2>Sign up</h2>

<div class="login-buttons">
  <%= link_to user_facebook_omniauth_authorize_path, class: "btn btn-block btn-social btn-facebook" do %>
    <span class="fa fa-facebook"></span> Sign in with Facebook
  <% end %>
  <%= link_to user_google_oauth2_omniauth_authorize_path, class: "btn btn-block btn-social btn-google" do %>
    <span class="fa fa-google"></span> Sign in with Google
  <% end %>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
  </div>

  <div class="field">
    <%= f.label :address_1 %><br />
    <%= f.text_field :address_1, autofocus: true, autocomplete: "address_1" %>
  </div>

  <div class="field">
    <%= f.label :address_2 %><br />
    <%= f.text_field :address_2, autofocus: true, autocomplete: "address_2" %>
  </div>
  
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city, autofocus: true, autocomplete: "city" %>
  </div>

  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state, autofocus: true, autocomplete: "state" %>
  </div>

  <div class="field">
    <%= f.label :zip_code %><br />
    <%= f.text_field :zip_code, autofocus: true, autocomplete: "zip_code" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
